<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3><strong>Angular 11 Template-Driven Form Validation</strong></h3>
        <hr />
        <form name="form" (ngSubmit)="tform.form.valid && onSubmit()" #tform="ngForm" novalidate>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              name="firstName"
              [(ngModel)]="model.firstName"
              #firstName="ngModel"
              [ngClass]="{ 'is-invalid': tform.submitted && firstName.invalid }"
              required
            />
            <div *ngIf="tform.submitted && firstName.invalid" class="invalid-feedback">
              <div *ngIf="firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              name="lastName"
              [(ngModel)]="model.lastName"
              #lastName="ngModel"
              [ngClass]="{ 'is-invalid': tform.submitted && lastName.invalid }"
              required
            />
            <div *ngIf="tform.submitted && lastName.invalid" class="invalid-feedback">
              <div *ngIf="lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              [(ngModel)]="model.email"
              #email="ngModel"
              [ngClass]="{ 'is-invalid': tform.submitted && email.invalid }"
              required
              email
            />
            <div *ngIf="tform.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="model.password"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': tform.submitted && password.invalid }"
              required
              minlength="6"
            />
            <div *ngIf="tform.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div ngModelGroup="address" #address="ngModelGroup">
            <div *ngIf="tform.submitted && address.invalid" class="invalid-feedback">
              <div *ngIf="!address.invalid">Pls check address fields.</div>
            </div>

            <div class="form-group">
              <label>Street</label>
              <div>
                <input
                  [(ngModel)]="model.street"
                  placeholder="Enter street address"
                  class="form-control"
                  name="street"
                  #street="ngModel"
                  [ngClass]="{ 'is-invalid': tform.submitted && street.invalid }"
                  required
                />
                <div *ngIf="tform.submitted && street.invalid" class="invalid-feedback">
                  <div *ngIf="street.errors.required">Street Name is required</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>City</label>
              <div>
                <input
                  [(ngModel)]="model.city"
                  placeholder="Enter city"
                  class="form-control"
                  name="city"
                  #city="ngModel"
                  [ngClass]="{ 'is-invalid': tform.submitted && city.invalid }"
                  required
                />
                <div *ngIf="tform.submitted && city.invalid" class="invalid-feedback">
                  <div *ngIf="city.errors.required">City is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>State</label>
              <div>
                <input
                  [(ngModel)]="model.state"
                  #state="ngModel"
                  class="form-control"
                  placeholder="Enter state"
                  name="state"
                  [ngClass]="{ 'is-invalid': tform.submitted && state.invalid }"
                  required
                />
                <div *ngIf="tform.submitted && state.invalid" class="invalid-feedback">
                  <div *ngIf="state.errors.required">State is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="req">Country</label>
              <div>
                <input
                  [(ngModel)]="model.country"
                  #country="ngModel"
                  placeholder="Enter country"
                  class="form-control"
                  name="country"
                  [ngClass]="{ 'is-invalid': tform.submitted && country.invalid }"
                  required
                />
                <div *ngIf="tform.submitted && country.invalid" class="invalid-feedback">
                  <div *ngIf="country.errors.required">Country is required</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Zip code</label>
              <div>
                <input
                  [(ngModel)]="model.zipcode"
                  #zipcode="ngModel"
                  placeholder="Enter zip code"
                  class="form-control"
                  name="zipcode"
                  [ngClass]="{ 'is-invalid': tform.submitted && zipcode.invalid }"
                  required
                />
                <div *ngIf="tform.submitted && zipcode.invalid" class="invalid-feedback">
                  <div *ngIf="zipcode.errors.required">Zip Code is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
